.nombreartistas{
    text-align: center;
    background-color: #ffc107;
    color:black;
    font-size: 1.125rem;
}

.tituloLineup{
    align-items: center;
    padding: 15px;
    align-content: center;
    text-align: center;
}