//Import
@import "scpro";
@import "lineup";

//Variables
$color-titulo: rgba(255, 0, 0, 0.623);



.footer{
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content:space-around;
    align-items:center;
    height: 60px;

    h3{
        color: whitesmoke;
        font-size: 16px;
        
        
    }
    img{
        height: 30px;
        
        &:hover{
            height: 35px;
        }
    }
}

.apoyos{
    grid-area:apoyos;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    

    img{
        width: 100%;
    }
}

.navbar-collapse{
    justify-content: flex-end;
}

h1{
    color: $color-titulo;
}

.volando{
    @extend .saludo;
}

//APLICANDO MAPAS
$colores:(
principal:rgba(255, 0, 0, 0.623),
secundario:#ffff00d5,

  );

$secundario: map-get($colores,secundario);
$principal:map-get($colores, principal);

.volando{
    color: $principal;
}

.saludo{
    color: $principal;
}

.nav-item{
    font-size: 1.125rem;
    color: yellow;
}

a{
    text-decoration: none;
    font-color: $principal;
    color: $secundario;
}

.presentacion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 900;
    color: $secundario;
    text-align: center;
    }

    @media (min-width: 1200px) {
        .presentacion{
            font-size: 90px;
        }
         }

a{
    color: $principal;
    font-weight: 600;
}

.nav-item{
    :hover{
        background-color:$principal;
    }
}

.logonav{
    height: 90px;
}

